html, body{
  background: #EBEBEB;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
html, body, button, a, .workXP h2 {
  color: #F1F1F1;
}
.intro, .work{
  background-color: #697783;
}

a:hover, footer > button:hover{
  color: initial;
}
button:focus{
  outline: none;
}
button {
  background: none;
  border-radius: 20px;
}
ul{
  list-style-type: none;
}
hr{
  max-width: 50px;
}

#top{
  position: fixed;
  z-index: 999;
  color: #96BDC6;
  bottom: 15px;
  right: 15px;
  display: none;
  cursor: pointer;
}

          /*** Parallax Header ***/
header{
  position: relative;
  height: 800px;
  background: linear-gradient(rgba(26,55,66, 0.6), rgba(26,55,66, 0.6)), url(../img/Skillz.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}
.Hi{
  height: 100px;
  width: 100%;
  position: absolute;
  top: 30vh;
  margin-top: -50px;
}
h1{
  font-family: 'VT323', monospace;
  font-size: 75px;
}

#BMD{
  font-size: 1.5em;
  padding: 5px 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

                    /*** Intro ***/
.intro{
  max-width: 100%;
}
.introCont{
  max-width: 80%;
  padding: 50px 0 35px 0;
  margin: 0 auto;
}
.introCont > .introTxt{
  flex: 2;
}
.introCont > .cartoon{
  flex: 1;
}
.cartoon > img{
  border-radius: 15px;
  max-width: 200px;
  max-height: auto;
}

          /*** Knowledge ***/
.knowledge{
  background-color: #EBEBEB;
  text-align: center;
  color: #1A3742;
  padding: 50px 0 35px 0;
}
.skills{
  padding: 10px 0px 10px 0px;
}
.skillGrid{
  max-width: 80%;
  margin: 0 auto;
}
.skillGrid > .skill{
  flex: 1;
  padding: 0 10px;
}


          /*** Previous Work ***/
.work{
  padding: 50px 0 35px 0;
}
.workXP{
  text-align: center;
  font-family: Arial;
}
.workXP img{
  position: relative;
  border-radius: 20px;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.3s ease-in-out;
}
.workXP img.showing{
  opacity: 1;
  transform: translateX(0px);
}

footer{
  background: #1A3742;
}

.info{
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
}

.info ul{
  padding: 10px;
}
.FA{
  padding-right: 3px;
}
.links{
  display:-webkit-inline-box;
  display:-moz-inline-box;
}
.links li{
  margin: 0 3px 0 3px;
}
.links .fa{
  font-size: 20px;
}

/* Media Querys */
@media (max-width: 768px){
  #BMD{
    background-color: #1A3742;
    padding: 5px 25px;
    font-weight: 600;;
  }
  div.Hi{
    top: 20% !important;
    margin-top: -50px !important;
  }
  ul.links{
    display: block;

  }
  ul.links li{
    padding: 3px 0;
  }
}
@media (min-width: 768px){
  #BMD:hover{
    background-color: #1A3742;
    padding: 5px 25px;
    font-weight: 600;;
  }
}
