*{
  box-sizing: border-box;
}
html, body{
  background: #EBEBEB;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
html, body, button, a, .works h3, .works p{
  color: #F1F1F1;
}
.intro, .works{
  background-color: #697783;
}

a:hover, footer > button:hover{
  color: initial;
}
button:focus{
  outline: none;
}
button {
  background: none;
  border-radius: 20px;
}
ul{
  list-style-type: none;
}
hr{
  max-width: 50px;
}
.introCont, .knowledge, .works{
  padding: 50px 0 35px 0;
}

#top{
  position: fixed;
  z-index: 999;
  color: #96BDC6;
  bottom: 15px;
  right: 15px;
  display: none;
  cursor: pointer;
}

          /*** Parallax Header ***/
header{
  position: relative;
  height: 800px;
  background: linear-gradient(rgba(26,55,66, 0.4), rgba(26,55,66, 0.4)), url(../img/Skillz.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}
.Hi{
  height: 100px;
  width: 100%;
  position: absolute;
  top: 30vh;
  margin-top: -50px;
}
h1{
  font-family: 'VT323', monospace;
  font-size: 75px;
}

#BMD{
  font-size: 1.5em;
  padding: 5px 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

                    /*** Intro ***/
.intro{
  max-width: 100%;
}
.introCont{
  max-width: 80%;
  margin: 0 auto;
}
.introCont > .cartoon{
  flex: 1;
  padding: 0 10px;
}
.cartoon > img{
  border-radius: 100%;
  max-width: 200px;
  max-height: auto;
}
.introCont > .introTxt{
  flex: 3;
  text-align: justify;
}
.introTxt h2{
  margin-top: 0;
}

          /*** Knowledge ***/
.knowledge{
  background-color: #EBEBEB;
  text-align: center;
  color: #1A3742;
}
.skills, .learning{
  padding: 10px 0px;
}
.skillGrid, .learningGrid{
  max-width: 80%;
  margin: 0 auto;
}
.skillGrid > .skill{
  flex: 1;
  padding: 0 10px;
}
.learningGrid > .lSkill{
  flex: 1;
}

          /*** Previous Work ***/
.workHeader{
  text-align: center;
}
.workGrid {
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.workGrid > .work{
  flex: 1;
  min-width: 33.9%;
}
.work{
  position: relative;
}
.workImg{
  max-width: 100%;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease-in-out;
}
.workImg.showing{
  opacity: 1;
  transform: translateY(0px);
}
.workTxt{
  display: none;
}
.txtCenter{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

          /*** Footer ***/
footer{
  background: #1A3742;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}
.info ul{
  padding: 10px;
}
.FA{
  padding-right: 3px;
}
button > i.fa{
  font-size: 2em;
}
.plug{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* Media Querys */
/* First break at 815px */
@media (max-width: 815px){
  .introCont{
    flex-direction: column;
  }
  .introCont > .cartoon{
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 785px){
  .skillGrid, .workGrid{
    flex-direction: column;
  }
  .workTxt{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(26,55,66, 0.6);
    display: table;
  }
}
@media (max-width: 775px){
  .learningGrid{
    flex-direction: column;
  }
}
@media (max-width: 768px){
  #BMD{
    background-color: #1A3742;
    padding: 5px 25px;
    font-weight: 600;;
  }
  div.Hi{
    top: 20% !important;
    margin-top: -50px !important;
  }
}
/*hovers*/
@media (min-width: 768px){
  #BMD:hover{
    background-color: #1A3742;
    padding: 5px 25px;
    font-weight: 600;;
  }
  .workImg:hover + .workTxt, .workTxt:hover{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100.07%;
    background-color: rgba(26,55,66, 0.9);
    display: table;
  }
  .plug:hover{
    padding: 0px 10px;
  }
  .github:hover{
    color: #111;
  }
  .codepen:hover{
    color: #666;
  }
  .linkedin:hover{
    color: #0077b5;
  }
}
